<div class = "pure-u-1-4">
	<h1> <%=info[2]%> </h1>
	<h2> <%= testname %> Test</h2>
	<h3> <%=info[15]%> </h3>
	<%= info[4]%> <%= info[5]%>
	<h3> Website: <%= info[6]%> </h3> 
	<h3> Email: <%= info[7]%> </h3> 
	<h3> Phone:<%= info[8]%> </h3> 
	<h3> Fax: <%= info[9]%> </h3> 
</div>
<div id="chart" class = "pure-u-2-3"></div>
<div class="pure-u-1-4 pure-u-md-1" id="pierow"><h1 class="pie"> 2010 Breakdown</h1> <div id = "pie4" ></div></div>
<div class="pure-u-1-4 pure-u-md-1" id="pierow"><h1 class="pie"> 2011 Breakdown</h1> <div id = "pie3"></div></div>
<div class="pure-u-1-4 pure-u-md-1" id="pierow"><h1 class="pie"> 2012 Breakdown</h1> <div id = "pie2"></div></div>
<div class="pure-u-1-4 pure-u-md-1" id="pierow"><h1 class="pie"> 2013 Breakdown</h1> <div id = "pie"></div></div>
<script type="text/javascript">

var chart = c3.generate({
	bindto: '#chart',
    data: {
        x: 'x',
        xFormat: '%Y', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x', '2010', '2011', '2012', '2013'],
      		<%=mean.reverse.unshift("School Average")%>,
      		<%=countymean.reverse.unshift("County Average")%>

        ]
    },
    
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y'
            }
        }
    }
});

var pie = c3.generate({
	bindto:"#pie",
    data: {
        columns: [
            ['Very Advanced', <%=first[0]%>],
            ['Very Proficient', <%=second[0]%>],
            ['Proficient', <%=third[0]%>],
            ['Basic', <%=fourth[0]%>],
            ['Below Basic', <%=sixth[0]%>],
            ['Far Below Basic', <%=sixth[0]%>]
        ],
        title: "2013 Breakdown",
        type : 'pie',
    }
});

var pie2 = c3.generate({
	bindto:"#pie2",
    data: {
        columns: [
            ['Very Advanced', <%=first[1]%>],
            ['Very Proficient', <%=second[1]%>],
            ['Proficient', <%=third[1]%>],
            ['Basic', <%=fourth[1]%>],
            ['Below Basic', <%=sixth[1]%>],
            ['Far Below Basic', <%=sixth[1]%>]
        ],
        title: "2013 Breakdown",
        type : 'pie',
    }
});

var pie3 = c3.generate({
	bindto:"#pie3",
    data: {
        columns: [
            ['Very Advanced', <%=first[2]%>],
            ['Very Proficient', <%=second[2]%>],
            ['Proficient', <%=third[2]%>],
            ['Basic', <%=fourth[2]%>],
            ['Below Basic', <%=sixth[2]%>],
            ['Far Below Basic', <%=sixth[2]%>]
        ],
        title: "2013 Breakdown",
        type : 'pie',
    }
});

var pie4 = c3.generate({
	bindto:"#pie4",
    data: {
        columns: [
            ['Very Advanced', <%=first[3]%>],
            ['Very Proficient', <%=second[3]%>],
            ['Proficient', <%=third[3]%>],
            ['Basic', <%=fourth[3]%>],
            ['Below Basic', <%=sixth[3]%>],
            ['Far Below Basic', <%=sixth[3]%>]
        ],
        title: "2013 Breakdown",
        type : 'pie',
    }
});

d3.select('#pie svg').append('text')
    .attr('x', d3.select('#chart svg').node().getBoundingClientRect().width / 2)
    .attr('y', 16)
    .attr('text-anchor', 'middle')
    .style('font-size', '1.4em')
    .text('2013');

</script>